
<input type="text" placeholder="Namn" />
<input type="text" placeholder="Email" />
<input type="text" placeholder="Telefon nummer" />
<input type="text" placeholder="Berätta kort om dig och din häst!" />

<article class="hitta_hit"></article>
<article class="vägbeskrivning"></article>

<article class="intresseanmälan"></article>
<article class="telefonnr"></article>
<article class="kontakt"></article>

<select>
    <option selected disabled>Kontakta dig via:</option>
    <option>Email</option>
    <option>Sms</option>
    <option>Samtal</option>
</select>

<article class="berätta"></article>

<button class="skicka">Skicka</button>