
<article class="välkommen">
    <h3>Välkommen till Thorsgården!</h3>
</article>

<article class="text_about">
    <p class="text_about_p">På Thorsgården finns stallplatser för 16 hästar eller ponnyer och här är alla välkomna! Vi är glada över att ha en bred blandning av hästar och människor med olika bakgrund och inriktningar, detta höjer stämningen i stallet och vi får en härlig gemenskap!</p>
</article> 
<article class="img1"></article>
<article class="img2"></article>
<article class="img3"></article>