
<input type="text" placeholder="Namn" />
<input type="text" placeholder="Email" />
<input type="text" placeholder="Telefon nummer" />

<article class="hitta_hit"></article>
<article class="vagbeskrivning"></article>

<article class="intresseanmalan"></article>
<article class="telefonnr"></article>
<article class="kontakt"></article>

<select>
    <option selected disabled>Kontakta dig via:</option>
    <option>Email</option>
    <option>Sms</option>
    <option>Samtal</option>
</select>

<textarea name="textarea">Berätta kort om dig och din häst!</textarea>

<button class="skicka">Skicka</button>