<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Thorsgården</title>
</head>
<body>
    <div class="container">

        <header>  
             
            <nav class="nav_mob">

                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="index.html">Hem</a>
                    <a href="index2.html">Kontakt</a>
                </div>
                                    
                <span class="open_nav" onclick="openNav()"></span>

            </nav>

        </header>

        <nav class="nav_desktop">

            <a href="index.html" class="hem">Hem</a>
            <a href="index2.html" class="kontakt">Kontakt</a>

        </nav>

        <main> <%=yield%> </main>

        <footer>
            
            <a href="https://www.facebook.com/Thorsgarden/" class="facebook">Thorsgården</a>

            <article class="fb_icon"></article>
            <p class="number">+46 71 234 56 78</p>
            <article class="phone_icon"></article> 
        </footer>
        <script src="./js/menu.js"></script>
    </div>
    
</body>
</html>

